<!DOCTYPE html>
<html lang="pt-br" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Promoção </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <main>
        <h2>Cadastrar Promoção</h2>
        <section id="cadpromocoes">
            <form action="">

                <div class="row">
                    <div class="col">
                        <label for="txtnomepromo" class="form-label">Nome da Promoção :</label>
                        <input type="text" class="form-control" name="txtnomepromo" id="txtnomepromo" tabindex="1">
                    </div>
                    <div class="col">

                        <label for="seldescpromo" class="form-label">Desconto</label>
                        <select name="seldescpromo" id="seldescpromo" class="form-control " tabindex="2">
                            <option value="">selecione o Desconto</option>
                        </select>

                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <label for="txtiniciopromo" class="form-label">Inicio da Promoção</label>
                        <input type="date" class="form-control" name="txtiniciopromo" id="txtiniciopromo" tabindex="3">
                    </div>
                    <div class="col">
                        <label for="txtvalidadepromo" class="form-label">Final da Promoção</label>
                        <input type="date" class="form-control" name="txtvalidadepromo" id="txtvalidadepromo"tabindex="4">

                        
                    </div>
                    <div class="col">
                    <h2>Promomoção ativa?</h2>
                        <label for="radioativapromosim" class="form-check-label m-2">Sim  </label>
                        <input type="radio" name="radioativapromo" id="radioativapromosim" class="form-check-input m-2" tabindex="5" value="1">
                        <label for="radioativapromonao" class="form-check-label m-2">Não  </label>
                        <input type="radio" name="radioativapromo" id="radioativapromonao" class="form-check-input m-2" tabindex="5" value="0">
                    </div>
                    <label for="txtdescpromo">Descrição</label>
                    <textarea name="txtdescpromo" id="txtdescpromo" cols="" rows="6" class="form-control"
                        tabindex="7"></textarea>
                </div>
                <div class="row"><input type="submit" class="btn btn-danger mt-4" value="Cadastraro" tabindex="8"></div>

            </form>
        </section>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>